@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

.container {
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

#profileImage {
    width: 150px;
}

span {
    font-family: 'Bigelow Rules', serif;
    font-weight: 700;
}